{% extends 'madlib/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mad Libs</title>
</head>
<body>
    {% block body %}
        <ul>
           <a href="/game1">Game 1</a><br>
           <a href="/game2">Game 2</a><br>
           <a href="/game3">Game 3</a><br>
           <a href="/game4">Game 4</a><br>
           <a href="/game5">Game 5</a><br>
        </ul>
    {% endblock %}
</body>
</html>